@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));

  --color-sidebar: hsl(var(--sidebar-background));
  --color-sidebar-foreground: hsl(var(--sidebar-foreground));
  --color-sidebar-primary: hsl(var(--sidebar-primary));
  --color-sidebar-primary-foreground: hsl(var(--sidebar-primary-foreground));
  --color-sidebar-accent: hsl(var(--sidebar-accent));
  --color-sidebar-accent-foreground: hsl(var(--sidebar-accent-foreground));
  --color-sidebar-border: hsl(var(--sidebar-border));
  --color-sidebar-ring: hsl(var(--sidebar-ring));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
  /* --sidebar-width:; */
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

/* TODO: input error message shake animation */

@layer base {
  :root {
    --radius: 0.6rem;
    /* --background: 210 20% 98.04%;
    --foreground: 220 60% 0.98%;
    --card: 0 0% 100%;
    --card-foreground: 220 60% 0.98%;
    --muted: 217.5 44.44% 92.94%;
    --muted-foreground: 0 0% 25.88%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 60% 0.98%;
    --border: 216 14.29% 93.14%;
    --input: 216 14.29% 93.14%;
    --primary: 211.06 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 4.88% 83.92%;
    --secondary-foreground: 210 4.92% 23.92%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 340.73 88.62% 51.76%;
    --destructive-foreground: 0 0% 98%;
    --ring: 240 5.9% 10%;
    --chart-1: 211.06 100% 50%;
    --chart-2: 210 4.88% 83.92%;
    --chart-3: 210 6.06% 87.06%;
    --chart-4: 211.65 80.53% 77.84%;
    --chart-5: 212 78.95% 88.82%; */

    --background: 0 0% 97%;
    --foreground: 218 36% 18%;
    --card: 0 0% 100%;
    --card-foreground: 218 36% 18%;
    --popover: 0 0% 100%;
    --popover-foreground: 218 36% 18%;
    --primary: 238 82% 67%;
    --primary-foreground: 0 0% 100%;
    --secondary: 218 26% 92%;
    --secondary-foreground: 217 19% 26%;
    --muted: 0 0% 96%;
    --muted-foreground: 220 8% 46%;
    --accent: 227 88% 94%;
    --accent-foreground: 217 19% 26%;
    --destructive: 0 86% 61%;
    --border: 218 13% 84%;
    --input: 218 13% 84%;
    --ring: 238 82% 67%;
    --chart-1: 238 82% 67%;
    --chart-2: 243 75% 59%;
    --chart-3: 244 57% 51%;
    --chart-4: 244 55% 42%;
    --chart-5: 243 49% 35%;
    --sidebar: 0 0% 96%;
    --sidebar-foreground: 218 36% 18%;
    --sidebar-primary: 238 82% 67%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 227 88% 94%;
    --sidebar-accent-foreground: 217 19% 26%;
    --sidebar-border: 218 13% 84%;
    --sidebar-ring: 238 82% 67%;
  }

  .dark {
    --background: 285 17% 5%;
    --foreground: 291 23% 94%;
    --card: 293 14% 11%;
    --card-foreground: 291 23% 94%;
    --popover: 293 14% 11%;
    --popover-foreground: 291 23% 94%;
    --primary: 243 99% 70%;
    --primary-foreground: 291 64% 98%;
    --secondary: 253 10% 36%;
    --secondary-foreground: 291 23% 94%;
    --muted: 288 9% 11%;
    --muted-foreground: 290 3% 62%;
    --accent: 261 25% 27%;
    --accent-foreground: 291 23% 94%;
    --destructive: 1 94% 45%;
    --border: 273 14% 30%;
    --input: 273 14% 30%;
    --ring: 259 39% 49%;
    --chart-1: 243 83% 58%;
    --chart-2: 141 61% 37%;
    --chart-3: 276 74% 65%;
    --chart-4: 86 100% 29%;
    --chart-5: 209 100% 48%;
    --sidebar: 285 9% 9%;
    --sidebar-foreground: 291 23% 94%;
    --sidebar-primary: 194 85% 37%;
    --sidebar-primary-foreground: 291 23% 94%;
    --sidebar-accent: 288 5% 18%;
    --sidebar-accent-foreground: 291 23% 94%;
    --sidebar-border: 288 4% 23% / 0.3;
    --sidebar-ring: 194 85% 37%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  button {
    @apply !cursor-pointer;
  }
}

:root {
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@theme inline {
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
